{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Catalog  produits{% endblock %}

{% block description %}Catalogue prodduits{% endblock %}

{% block keywords %}Sylla-Techno, Catalog, Produits{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Liste des produits</h1>

<div class="container">
    <div class="row">
            <div class="col-md-2">
                {# Filtre #}
            </div>
            <div class="col-md-10">
                {% for row in products|batch(3) %}
                    <div class="row">
                        {% for product in row %}
                            <div class="col-md-4">
                                <div class="card">
                                    <a class="text-center" href="{{ path('visitor_catalog_product_show', { 'id': product.id, 'slug': product.slug }) }}">
                                        <img src="{{ vich_uploader_asset(product, 'imageFile') }}" class="w-100 h-100" alt="{{ product.name }}">
                                    </a>
                                    <div class="card-body">
                                        <a class="text-center text-decoration-none text-dark" href="{{ path('visitor_catalog_product_show', { 'id': product.id, 'slug': product.slug }) }}">
                                            <p class="card-title">{{ product.name }}</p>
                                        </a>
                                        <p class="card-subtitle mb-2 text-muted">Marque: {{ product.brand }}</p>
                                        <p class="card-subtitle mb-2 text-muted">Prix: {{ product.sellingPrice }} euros.</p>
                                        
                                        <div class="card-text d-flex justify-content-between gap-2">
                                            <!-- Formulaire pour ajouter au panier -->
                                            <form action="{{ path('visitor_cart_add', {'id': product.id}) }}" method="get" style="display: inline;">
                                                <button type="submit" class="btn btn-sm btn-primary text-nowrap px-1 ms-0">
                                                    Ajouter au panier
                                                </button>
                                            </form>

                                            <!-- Lien pour voir les détails -->
                                            <a href="{{ path('visitor_catalog_product_show', { 'id': product.id, 'slug': product.slug }) }}" class="btn btn-sm btn-secondary text-nowrap px-1  ms-0">
                                                Voir détails
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
    </div>
</div>
{% endblock %}