{% extends 'themes/base_admin.html.twig' %}

{% block title %} Les paramètres du site {% endblock %} 

{% block description %} Les paramètres du site {% endblock %} 

{% block jQuery %} 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %} 

{% block dataTables %}
    <link href="https://cdn.datatables.net/v/bs5/dt-2.2.2/datatables.min.css" rel="stylesheet" integrity="sha384-M6C9anzq7GcT0g1mv0hVorHndQDVZLVBkRVdRb2SsQT7evLamoeztr1ce+tvn+f2" crossorigin="anonymous">
    <script src="https://cdn.datatables.net/v/bs5/dt-2.2.2/datatables.min.js" integrity="sha384-k90VzuFAoyBG5No1d5yn30abqlaxr9+LfAPp6pjrd7U3T77blpvmsS8GqS70xcnH" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.2.2/i18n/fr-FR.json'
                }
            });
        });
    </script>
{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Les paramètres du site </h1>
   

    <div class="container my-5">
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto shadow p-3">
                {% include 'components/_alert.html.twig' %}
                <div class="card border-0">
                    <div class="row"> 
                        <p><strong>Nom du site:</strong>{{setting.webSiteName}}</p>
                        <p><strong>L'url du site:</strong>{{setting.websiteUrl }}</p>
                        <p><strong>L'Email du site:</strong>{{setting.email}}</p>
                        <p><strong>Le Telephone du site:</strong>{{setting.phone }}</p>
                        <p><strong>Rue:</strong>{{setting.street ?? "non rensigner" }}</p>
                        <p><strong>Ville:</strong>{{setting.city ?? "non rensigner"}}</p>
                        <p><strong>Code postale:</strong>{{setting.postalCode ?? "non rensigné" }}</p>
                        <p><strong>Pays:</strong>{{setting.state }}</p>
                        <p><strong>Facebook:</strong>{{setting.facebookLink }}</p>
                        <p><strong>instagramLink:</strong>{{setting.instagramLink }}</p>
                        <p><strong>tiktokLink:</strong>{{setting.tiktokLink }}</p>
                        <p><strong>Description du site:</strong>{{setting.description }}</p>

                        <p>
                            <a href="{{path('admin_setting_edit', {'id': setting.id})}}" class="btn btn-primary w-100">Modifier les paramètres</a>
                        </p>    
                    </div>
                </div>
            </div>
        </div>
    </div>

  
{% endblock %}
